<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Page Title</title>

        <!-- Core CSS - Include with every page -->
        <link href="${ASSET_PATH}css/bootstrap.min.css" rel="stylesheet">
        <link href="${ASSET_PATH}font-awesome/css/font-awesome.css" rel="stylesheet">

        <!-- Page-Level Plugin CSS -->
        <link href="${ASSET_PATH}css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
        <link href="${ASSET_PATH}css/plugins/timeline/timeline.css" rel="stylesheet">
        <link href="${ASSET_PATH}css/plugins/select/select-theme-default.css" rel="stylesheet">

        <!-- Traveler CSS - Include with every page -->
        <link href="${ASSET_PATH}css/traveler.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <nav id="top-nav" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="navbar-brand" href="dashboard.html">VLACS Traveler</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> My Account</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->
            </nav>
            <!-- /.navbar-static-top -->
            <nav id="side-nav" class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/users"><i class="fa fa-user fa-fw"></i> Users</a>
                        </li>
                        <li>
                            <a href="/system"><i class="fa fa-cog fa-fw"></i> System</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </nav>
            <!-- /.navbar-static-side -->
            <div class="content" id="page-wrapper">
                This is where the content should be loaded
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!--JavaScript -->
        <script src="${ASSET_PATH}js/angular.min.js"></script>
        <script src="${ASSET_PATH}js/jquery-1.10.2.js"></script>
        <script src="${ASSET_PATH}js/bootstrap.min.js"></script>
        <script src="${ASSET_PATH}js/traveler.js"></script>
        <!--JavaScript Plugins -->
        <script src="${ASSET_PATH}js/plugins/select/select.min.js"></script>

        <script type="text/javascript">
            Select.init({selector: '.nice-select'});
        </script>
    </body>
</html>
